# Node
node_modules
dist

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local

# macOS
.DS_Store

# VSCode
.vscode

# .NET
bin/
obj/

# Docker
postgres_data/

# Coverage
coverage/

# Next.js
.next/

# Local development secrets
appsettings.Development.json